*{
    padding: 0;
    margin: 0;
    padding: 10px;
}

li{
    font-size: 30px;
    list-style-position: inside;
}

h2{
    font-size: 40px;
}

.presentacion{
    background-color: aqua;

}

a{
    font-size: 26px;
    background-color: lightcoral;
}

div{
    text-align: center;
}

.rutina{
    background-color: blueviolet;
}

.misgustos{
background-color: chartreuse;
}
 .misplatospreferidos{
background-color: brown;
}

