.crack{
    background-color: bisque;
}
.presentacion{
    background-color: burlywood;
}
.brothel{
    background-color: beige;
}
.jeje {
    background-color: dimgrey;
}

.siujiji {background-color: blueviolet
    ;}

.siuu {background-color: beige;}

*{margin: 0%
    
    ;}
*{padding: 0%;}

h1{font-size: 70px;}

.presentacion{
    text-align: center;
padding: 30px;
}
.brothel{text-align: center
    ;}
.crack{text-align: center;}

.jeje{text-align: center;}
.siujiji{text-align: center;}
.siuu{text-align: center;}

li{
    list-style-position: inside;
    padding: 10px;
    font-size: 25px;
}


h2{
    list-style-position: inside;
    padding: 10px;
    font-size: 35px;
}

p{
    list-style-position: inside;
    padding: 10px;
    font-size: 25px;
}
.presentacion{
    background:linear-gradient(180deg, rgba(55,119,113,1) 0%, rgba(0,0,0,1)60%);
    color:black;
}

.presentacion p{
    color: white;
}



.siuu{
    
}